/* this is to create color palette variables 
:root {
    --red-color: #ac3d39;
    --red-color-10: #bf443f;
    --red-color-20: #c65652;
    --red-color-30: #cc6965;
    --red-color-40: #d27c79;
    --red-color-50: #d98e8c;
    --red-color-60: #dfa19f;
    --red-color-70: #e5b4b2;
    --red-color-80: #ecc7c5;
  } */
html,body
{
    margin:0;
}

.topnav 
{
    background-color: rgb(29, 0, 77);
    overflow: hidden;
    min-height: 3rem;
}

.topnav a
{
    float: left;
    color: #6d9ebb;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.topnav a:hover
{
    background-color: rgb(12, 193, 224);
    color:rgb(19, 0, 49);
}